[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Windows VM
Comment=Launches Windows VM with looking-glass
Exec=/home/god/scripts/start_win10
#Icon=application.png
Terminal=false
